# API KEYS FOR THE IA AGENT.
AGENT_A_API_KEY=
AGENT_B_API_KEY=



# PostgreSQL
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=
AUTH_DB_PASSWORD=
GAME_DB_PASSWORD=
AI_DB_PASSWORD=

#jeton de connexion (JWT)
JWT_SECRET=

# URL
GAME_DATABASE_URL=postgres://game_user:change_me_game@localhost:5433/jdr_game
AI_DATABASE_URL=postgres://ai_user:change_me_ai@localhost:5433/jdr_ai